/* TASK 2 - Style the row */
.body-row {
	padding: 5px 20px;
	background-color: lightcyan;
	font-weight: bold;
	border-bottom: 2px solid lightgreen;
	transition: background-color 300ms;
	color: darkcyan;
}
.body-row:hover {
	background-color: skyblue;
}
.body-row > span {
	color: black;
}
.body-row > button {
	float: right;
	border-radius: 5px;
	font-weight: bold;
}